/* .fretboard {} */

.fretboard__blank {
	fill: #eee;
}
/* .fretboard__frets {} */
.fretboard__fret {
	fill: #fff;
}

/* .fretboard__note {} */
.fretboard__note > circle {
	fill: #fff;
}
.fretboard__note > text {
	fill: #222;
	font-size: 0.75rem;
	font-weight: 700;
}
.fretboard__note--flat {
	letter-spacing: -2pt;
}

.fretboard__string {
	fill: #f5f5f5;
}

.fretboard__marker {
	fill: #ccc;
}

.fretboard__nut {
	fill: #999;
}
