/* .fretboard {} */

.fretboard__blank {
	fill: #eee;
}
/* .fretboard__frets {} */
.fretboard__fret {
	fill: #fff;
}

/* .fretboard__note {} */
.fretboard__note > circle {
	fill: #fff;
	stroke: #bbb;
	stroke-width: 0.125;
}
/* .fretboard__note--root > circle {} // when degree === 0 */

/* when note matches the key root note */
.fretboard__note--key-root > circle {
	stroke: #ec05;
	stroke-width: 1;
}

/* when note matches the root of the pattern, e.g. the mode or degree */
.fretboard__note--scale-root > circle {
	stroke: #00c5;
	stroke-width: 0.5;
}

.fretboard__note > text {
	fill: #222;
	font-size: 0.5em;
	font-weight: 700;
}
.fretboard__note--flat {
	/* letter-spacing: -2pt; */
}
.fretboard__note--passing > text {
	fill: #333;
	font-size: 0.4em;
	font-weight: 500;
}

.fretboard__string {
	fill: #f5f5f5;
}

.fretboard__marker {
	fill: #ccc;
}

.fretboard__nut {
	fill: #999;
}

.fretboard__nut-notes {
	fill: #bbb;
	font-size: 0.5em;
	font-weight: 700;
}
