/* .settings-open {} */
.settings-open > button {
	font-family: 'Helvetica Neue', sans-serif;
	text-transform: none;
	color: #444;
	color: rgba(0, 0, 0, 0.7);
}
.settings-open > button > svg {
	margin-right: 0.25em;
	fill: #777;
}
.settings-box {
	padding: 0.5em;
	font-family: 'Helvetica Neue', sans-serif;
}
.settings-box > button {
	font-family: 'Helvetica Neue', sans-serif;
	text-transform: none;
	color: #444;
	color: rgba(0, 0, 0, 0.7);
}
.settings-box > button > svg {
	fill: #777;
}

.settings-box .MuiToggleButton-standard {
	text-transform: none;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
}
